<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Simple proxy</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/main.css">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->		
	</head>
	<body>
		<div class="container">
			<form action="/" method="post" id="mainform" role="form">
				<h2>Simple TCP Proxy</h2>
				<div class="form-group">
					<label for="clientip" class="control-label">Your IP</label>
					<div class="">
						<input type="text" class="form-control" id="clientip" name="clientip" placeholder="Your IP" value="<%= clientip %>">
					</div>
				</div>
				<div class="form-group">
					<label for="remotehost" class="control-label">Remote Host</label>
					<div class="">
						<input type="text" class="form-control" id="remotehost" name="remotehost" placeholder="Domain name or IP" value="<%= remotehost %>">
					</div>
				</div>
				<div class="form-group">
					<label for="remoteport" class="control-label">Remote Port</label>
					<div class="">
						<input type="text" class="form-control" name="remoteport" name="remoteport" placeholder="Remote Port" value="<%= remoteport %>">
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
					</div>
				</div>
			</form>
		</div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>